:root {
    --green: #008000;
    --yellow: #ebdbb2;
    --grey: #101010;
}

body {
    background-color: var(--grey);
    color: var(--green);
    font-family: "Courier New", Courier, monospace;
	font-weight: bold;
    font-size: 16px;
}

#terminal {

    white-space: pre-wrap;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

#terminalOutput {
    background-color: var(--grey);
    color: var(--green);
    font-family: "Courier New", Courier, monospace;
}

#terminalInput {
    position: absolute;
    bottom: 0;
    left: -9999px; /* Completely hide the input */
}

#nav-bar {
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: left;
    padding: 10px;
    background-color: var(--grey);
    border-top: 1px solid var(--green);
    color: var(--green);
}

#nav-bar a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

#nav-bar a:hover {
    text-decoration: underline;
}
